body {
    /* Image Location */
    background-image: url("./mainimg.jpeg");
 
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    /* Font Colour */
    color:white;
}
.line1{
    text-align: center;

}
.line2{
    position: fixed;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    display: flex;
    top: -40px;
    left: 400px;
    
}